{% extends 'base.html.twig' %}

{% block title parent() ~ 'Accueil' %}
{% block body %}

    <div id="home">
        <a href="#">
            <img id="wallpaper" src="../images/wallpaper.jpg" alt="One Piece wallpaper" title="One Piece wallpaper">
        </a>
    </div>


{% endblock %}
