<div id="menuHamburger">
    <div id="menuNavigation">
        <nav>
            <ul id="listeOnglets">
                <li class="onglet">
                    <ul class="listeDeroulante ">
                        <li><a class="titreOnglet" href="#" title="">Les Personnages</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Les Pirates</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Les Marines</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Les Révolutionnaires</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Les Dragons Célestes</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Le Gouvernement Mondial</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Les Corsaires</a></li>
                        <li class="liste"><a class="liensListeDeroulante" href="#" title="">Les Empereurs</a></li>
                    </ul>
                </li>
                <li class="onglet"><a class="titreOnglet" href="#">L'histoire</a></li>
                <li class="onglet"><a class="titreOnglet" href="#">Les Navires</a></li>
                <li class="onglet"><a class="titreOnglet" href="#">Galerie d'images</a></li>
            </ul>
        </nav>
    </div>
    <button id="boutonHamburger">&#9776;</button>
    <div id="sidebarHamburger">
        <div id="sidebarHamburgerHeader"></div>
        <div id="sidebarHamburgerBody"></div>
    </div>
    <div id="hamburgerOverlay"></div>
</div>  